@use "../libs/pxtorem.scss" as *;
@use "../base/vars.scss" as *;

@mixin button() {
	border-radius: rem(12);
	padding: rem(11) rem(20);
	background: $colorMainGreen;
	font-family: $fontFamilySans;
	font-weight: 600;
	line-height: 1.375;
	letter-spacing: -0.04em;
	color: $colorBackground;
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-flex;
	align-self: start;
	text-align: center;
	transition: 0.4s all;
	&:active {
		transform: scale(0.84);
		background-color: $colorMainGreenFocus;
	}
	&:disabled {
		background-color: $colorWhite;
		color: $colorButtonDisableText;
	}
	span {
		transition: 0.4s transform;
	}
	@media screen and (min-width: $tablet) {
		&:hover {
			background-color: $colorMainGreenHover;
			span {
				transform: translateX(rem(4));
			}
		}
		&:focus {
			background-color: $colorMainGreenFocus;
		}
	}
}

@mixin typography(
	$ff: $fontFamilySans,
	$line: 1.4,
	$maxFZ: 16,
	$minFZ: 14,
	$weight: 500,
	$vw: 4vw,
	$color: $colorWhite,
	$space: normal
) {
	font-family: $ff;
	font-weight: $weight;
	font-size: clamp(rem($minFZ), calc(1rem + $vw), rem($maxFZ));
	line-height: $line;
	color: $color;
	letter-spacing: $space;
}
