@use "../libs/pxtorem.scss" as *;

// Font
$fontFamilySans: "DM Sans", sans-serif;
$fontFamilyMono: "DM Mono", monospace;
$fontSize: rem(16);

// Colors
$colorMainGreen: #99E39E;
$colorMainGreenHover: #73ff7c;
$colorMainGreenFocus: #21f630;
$colorBackground: #000510;
$colorWhite: #f2f2f2;
$colorButtonDisableText: #ACACAC;

// Breakpoints
$laptopL: rem(1439.98);
$laptopM: rem(1199.98);
$laptop: rem(1023.98);
$tablet: rem(767.98);
$tabletS: rem(575.98);
$mobileL: rem(424.98);
$mobileM: rem(374.98);
$mobileS: rem(319.98);